h1, p {
    display: flex;
    justify-content: center;
}
h1 {
    border: 3px dotted blue;
    color: red;
}

p {
    font-weight: bolder;
    font-size: 25px;
}

button {
    display: flex;
    display: ;
}