body {
    background-color: aliceblue;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}

h1, p {
    text-align: center;
}
