.flex-container {
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    
    

  }
  
  .flex-item1 {
    background: rgb(185, 188, 223);
    padding: 5px;
    height: 150px;
    margin-top: 10px;
    flex-grow: calc(1);
    
    line-height: 150px;
    color: rgb(252, 247, 247);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
  }

   
  .flex-item2 {
    background: rgb(44, 69, 107);
    padding: 5px;

    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: calc(3);


    line-height: 150px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
  }
   
  .flex-item3 {
    background: tomato;
    padding: 5px;

    height: 150px;
    margin-top: 10px;
    flex-grow: calc(1);
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }